---
import Container from '@components/Container.astro';
---

<Container>
  <!-- Features -->
  <div class="mx-auto max-w-[85rem] px-4 sm:px-6 lg:px-8">
    <!-- Title -->
    <div class="mx-auto mb-8 max-w-2xl text-center lg:mb-14">
      <h2 class="text-gray-800 dark:text-gray-200 text-3xl font-bold lg:text-4xl">Explore tools</h2>
      <p class="text-gray-800 dark:text-gray-200 mt-3">
        The powerful and flexible theme for all kinds of businesses.
      </p>
    </div>
    <!-- End Title -->

    <!-- Grid -->
    <div class="mx-auto grid max-w-3xl gap-3 justify-center">
      <!-- Icon Block -->
      <a
        href="#"
        class="group shadow-lg max-w-xs flex h-full justify-center gap-y-6 rounded-3xl border border-primary-900/10 dark:border-primary-300/10 p-6 transition-all hover:bg-primary-300 dark:hover:bg-white/[.075]"
      >
        <div class="text-center">
          <div
            class="bg-gray-50 border-gray-200 dark:bg-gray-800 dark:border-gray-700 mx-auto flex h-12 w-12 items-center justify-center rounded-full border"
          >
            <svg
              class="text-gray-800 dark:text-gray-200 mx-auto h-auto w-7 md:w-7"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
            <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
     
            </svg>
          </div>
          <div class="mt-2 sm:mt-6">
            <h3 class="text-gray-800 dark:text-gray-200 text-lg font-semibold">
              Download
            </h3>
          </div>
        </div>
      </a>
      <!-- End Icon Block -->






    </div>
    <!-- End Grid -->
  </div>
  <!-- End Features -->
</Container>
