---
import Container from "@components/Container.astro";

---

<Container>
  <!-- Hero -->
<div class="relative overflow-hidden before:absolute before:top-0 before:left-1/2  before:bg-no-repeat before:bg-top before:w-full before:h-full before:-z-[1] before:transform before:-translate-x-1/2">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8">
    
    <!-- Title -->
    <div class="mt-5 max-w-xl text-center mx-auto">
      <h1 class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-4xl dark:text-gray-200">
        HOME PREFERRED SOLUTION
      </h1>
    </div>
    <!-- End Title -->

    <div class="mt-5 max-w-3xl text-center mx-auto">
      <p class="text-lg text-gray-600 dark:text-gray-400"> is the right choice to provide personalized, humane and ethical care to each of our patients during their home health care. Each new or current patient is an honor for us and we give them sincere compassion and empathy.
      </p>
    
      <p class="text-lg text-gray-600 dark:text-gray-400"> With more than 15 years of experience and a team of certified professionals, our company has managed to maintain a 4.5 (or the highest)  Quality of patient Care Star Rating, which is based on the results during the treatment of our patients and their opinion about our services. which includes:

      </p>
    </div>
    <br>
  </div>
</div>
<!-- End Hero -->
</Container>
