---
import Container from "@components/Container.astro";

---

<Container>
  <!-- Hero -->
<div class="relative overflow-hidden before:absolute before:top-0 before:left-1/2 before:bg-[url('/assets/squared-bg-element.svg')] before:bg-no-repeat before:bg-top before:w-full before:h-full before:-z-[1] before:transform before:-translate-x-1/2 dark:before:bg-[url('/assets/squared-bg-element-dark.svg')]">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pb-10">
    
    <!-- Title -->
    <div class="mt-5 max-w-xl text-center mx-auto">
      <h1 class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-4xl dark:text-gray-200">
        HOME PREFERRED SOLUTION
      </h1>
    </div>
    <!-- End Title -->

    <div class="mt-5 max-w-3xl text-center mx-auto">
      <p class="text-lg text-gray-600 dark:text-gray-400">Is a leading provider of comprehensive home health services to private individuals, case managers, physicians, nursing homes, hospitals, insurance companies and health maintenance organizations. If you, a loved one or someone you know is in need of home health care services, take a few minutes to discover what Home Preferred Solution has to offer. You’ll see that we truly exceed your expectations.</p>
    </div>
    <br>
  </div>
</div>
<!-- End Hero -->
</Container>
