---
import Container from "@components/Container.astro";

---

<Container>
    <!-- Card Blog -->
<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8  mx-auto">     
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Card -->
      <div class="group hover:bg-gray-100 rounded-xl p-5 transition-all dark:hover:bg-white/[.05]" >
        <div class="aspect-w-16 aspect-h-10">
          <img class="w-full object-cover rounded-xl" src="/assets/h_2119998428.jpg" alt="Image Description">
        </div>
       
    </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="group hover:bg-gray-100 rounded-xl p-5 transition-all dark:hover:bg-white/[.05]" >
        <div class="aspect-w-16 aspect-h-10">
          <img class="w-full object-cover rounded-xl" src="/assets/h_1085496053.jpg" alt="Image Description">
        </div>        
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="group hover:bg-gray-100 rounded-xl p-5 transition-all dark:hover:bg-white/[.05]" >
        <div class="aspect-w-16 aspect-h-10">
          <img class="w-full object-cover rounded-xl" src="/assets/h_1914170926.jpg" alt="Image Description">
        </div>
      </div>
      <!-- End Card -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Card Blog -->
</Container>