---
import Container from '@components/Container.astro';
---

<Container>
  <div class="grid gap-12 lg:grid-cols-1 lg:gap-8">
    <div class="grid gap-12 lg:grid-cols-1 lg:gap-8">
      <div class="mx-auto mt-5 max-w-3xl text-center">
        <h2 class="block font-bold text-gray-800 text-3xl md:text-3xl lg:text-4xl dark:text-gray-200 mb-8">SERVICES</h2>
        <p class="text-gray-600 dark:text-gray-400 text-lg">
          With more than 15 years of experience and a team of certified professionals, our company
          has managed to maintain a 5 
           <svg
          class="inline text-primary-600 dark:text-primary-400 h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 28 28"
          fill="#fbc02d"
          aria-hidden="true"
        >
          <path d="M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z" />
        </svg> quality of patient Care Star Rating, which
          is based on the results during the treatment of our patients and their opinion about our
          services. Which includes:
        </p>
      </div>
      <div class="lg:col-span-2">
        <dl
          class="-mt-3"
          x-data="{ selected: null, toggle(value) { this.selected = this.selected === value ? null : value } }"
        >
          <div
            class="rounded-3xl px-4 transition"
            x-bind:class="{ 'bg-primary-500/10 dark:bg-primary-400/10': isOpen }"
            x-data="{ id: 0, get isOpen() { return this.id === this.selected }, get isNextOpen() { return (this.id + 1) === this.selected } }"
          >
            <dt
              class="border-b border-primary-900/10 text-lg transition dark:border-primary-300/10"
              x-bind:class="{ 'border-transparent': isOpen || isNextOpen, 'border-primary-900/10 dark:border-primary-300/10': !(isOpen || isNextOpen) }"
            >
              <button
                class="group block w-full py-6 text-left transition focus-visible:outline-none"
                type="button"
                aria-controls="expertise-1"
                aria-expanded="false"
                x-bind:aria-expanded="isOpen.toString()"
                x-on:click="toggle(id)"
                ><div
                  class="flex items-center justify-between rounded-3xl group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2 group-focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200"
                >
                  <span class="font-medium">Medicare</span>
                  <span class="ml-6 flex h-7 items-center"
                    ><svg
                      aria-hidden="true"
                      class="h-6 w-6 rotate-0 transform text-primary-600 transition duration-200 ease-in-out dark:text-primary-400"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                      x-bind:class="{ '-rotate-180': isOpen, 'rotate-0': !isOpen }"
                      ><path
                        d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
                      ></path></svg
                    ></span
                  >
                </div></button
              >
            </dt><dd
              class="pb-6 pr-6"
              id="expertise-1"
              x-collapse=""
              x-show="isOpen"
              style="height: 0px; overflow: hidden; display: none;"
              hidden=""
            >
              <p class="text-base text-primary-950/70 dark:text-primary-200/70 text-left">
                Welcome to Home Preferred Solution, your premier Medicare-approved home health agency in South Florida. Our expert team delivers superior healthcare services within the comfort of your home. With specialized services including expert nursing care, attentive medical social work, tailored physical and occupational therapies, as well as targeted speech therapy, we provide comprehensive and compassionate support. Our nurses ensure personalized care, while our therapists aid in rehabilitation and functional improvement. Additionally, our medical social workers offer invaluable assistance, ensuring a holistic approach to your well-being. At  HPS, we prioritize your comfort and recovery, delivering exceptional care with professionalism and expertise. We are committed to enhancing your quality of life through expert care in the comfort of your home. Our skilled team of nurses, therapists, and medical social workers tailor services to meet your individual needs. From nursing care ensuring your well-being to therapies focused on rehabilitation and social support, we provide comprehensive assistance for Medicare beneficiaries. With our dedication to excellence and personalized care, we aim to exceed expectations and facilitate your journey to improved health and independence in your home environment.
              </p>
            </dd>
          </div>
          <div
            class="rounded-3xl px-4 transition"
            x-bind:class="{ 'bg-primary-500/10 dark:bg-primary-400/10': isOpen }"
            x-data="{ id: 4, get isOpen() { return this.id === this.selected }, get isNextOpen() { return (this.id + 1) === this.selected } }"
          >
            <dt
              class="border-b border-primary-900/10 text-lg transition dark:border-primary-300/10"
              x-bind:class="{ 'border-transparent': isOpen || isNextOpen, 'border-primary-900/10 dark:border-primary-300/10': !(isOpen || isNextOpen) }"
            >
              <button
                class="group block w-full py-6 text-left transition focus-visible:outline-none"
                type="button"
                aria-controls="expertise-2"
                aria-expanded="false"
                x-bind:aria-expanded="isOpen.toString()"
                x-on:click="toggle(id)"
                ><div
                  class="flex items-center justify-between rounded-3xl group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2 group-focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200"
                >
                  <span class="font-medium">Medicaid</span>
                  <span class="ml-6 flex h-7 items-center"
                    ><svg
                      aria-hidden="true"
                      class="h-6 w-6 rotate-0 transform text-primary-600 transition duration-200 ease-in-out dark:text-primary-400"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                      x-bind:class="{ '-rotate-180': isOpen, 'rotate-0': !isOpen }"
                      ><path
                        d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
                      ></path></svg
                    ></span
                  >
                </div></button
              >
            </dt><dd
              class="pb-6 pr-6"
              id="expertise-2"
              x-collapse=""
              x-show="isOpen"
              style="height: 0px; overflow: hidden; display: none;"
              hidden=""
            >
              <p class="text-base text-primary-950/70 dark:text-primary-200/70 text-left">
                Your trusted provider offers comprehensive home health services covered by full Medicaid benefits. Our dedicated team specializes in delivering exemplary care within the comfort of your home. With a range of personalized services including expert nursing care, proficient medical social work, targeted physical and occupational therapies, and specialized speech therapy, we ensure holistic support catered to your specific needs. Our skilled nurses prioritize individualized care, while our therapists assist in rehabilitation and functional improvement. Additionally, our adept medical social workers provide invaluable support, guaranteeing a comprehensive approach to your well-being. At HPS, we are committed to delivering high-quality care covered by full Medicaid benefits, ensuring your comfort and recovery with professionalism and expertise.
              </p>
            </dd>
          </div>
          <div
            class="rounded-3xl px-4 transition"
            x-bind:class="{ 'bg-primary-500/10 dark:bg-primary-400/10': isOpen }"
            x-data="{ id: 1, get isOpen() { return this.id === this.selected }, get isNextOpen() { return (this.id + 1) === this.selected } }"
          >
            <dt
              class="border-b border-primary-900/10 text-lg transition dark:border-primary-300/10"
              x-bind:class="{ 'border-transparent': isOpen || isNextOpen, 'border-primary-900/10 dark:border-primary-300/10': !(isOpen || isNextOpen) }"
            >
              <button
                class="group block w-full py-6 text-left transition focus-visible:outline-none"
                type="button"
                aria-controls="expertise-2"
                aria-expanded="false"
                x-bind:aria-expanded="isOpen.toString()"
                x-on:click="toggle(id)"
                ><div
                  class="flex items-center justify-between rounded-3xl group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2 group-focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200"
                >
                  <span class="font-medium">Medicaid Waiver</span>
                  <span class="ml-6 flex h-7 items-center"
                    ><svg
                      aria-hidden="true"
                      class="h-6 w-6 rotate-0 transform text-primary-600 transition duration-200 ease-in-out dark:text-primary-400"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                      x-bind:class="{ '-rotate-180': isOpen, 'rotate-0': !isOpen }"
                      ><path
                        d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
                      ></path></svg
                    ></span
                  >
                </div></button
              >
            </dt><dd
              class="pb-6 pr-6"
              id="expertise-2"
              x-collapse=""
              x-show="isOpen"
              style="height: 0px; overflow: hidden; display: none;"
              hidden=""
            >
              <p class="text-base text-primary-950/70 dark:text-primary-200/70 text-left">
                The Medicaid Long-term Care waiver is a specialized program that offers flexibility in delivering healthcare services, allowing eligible individuals to receive care in the comfort of their homes rather than in institutional settings. To be eligible for Long-term Care you must have Medicaid and need help with Assisted Daily Living.<br>
                The services provided under the Medicaid Long-term Care waiver include personal care, homemaker, companionship, and respite care.<br>
                Experience the convenience and personalized care that our agency offers under Medicaid waivers. Your health and satisfaction are our top priorities, and we're honored to be your partner in navigating the path to improved well-being.
              </p>
            </dd>
          </div>
          <div
            class="rounded-3xl px-4 transition"
            x-bind:class="{ 'bg-primary-500/10 dark:bg-primary-400/10': isOpen }"
            x-data="{ id: 2, get isOpen() { return this.id === this.selected }, get isNextOpen() { return (this.id + 1) === this.selected } }"
          >
            <dt
              class="border-b border-primary-900/10 text-lg transition dark:border-primary-300/10"
              x-bind:class="{ 'border-transparent': isOpen || isNextOpen, 'border-primary-900/10 dark:border-primary-300/10': !(isOpen || isNextOpen) }"
            >
              <button
                class="group block w-full py-6 text-left transition focus-visible:outline-none"
                type="button"
                aria-controls="expertise-3"
                aria-expanded="false"
                x-bind:aria-expanded="isOpen.toString()"
                x-on:click="toggle(id)"
                ><div
                  class="flex items-center justify-between rounded-3xl group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2 group-focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200"
                >
                  <span class="font-medium">Behavior Care</span>
                  <span class="ml-6 flex h-7 items-center"
                    ><svg
                      aria-hidden="true"
                      class="h-6 w-6 rotate-0 transform text-primary-600 transition duration-200 ease-in-out dark:text-primary-400"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                      x-bind:class="{ '-rotate-180': isOpen, 'rotate-0': !isOpen }"
                      ><path
                        d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
                      ></path></svg
                    ></span
                  >
                </div></button
              >
            </dt><dd
              class="pb-6 pr-6"
              id="expertise-3"
              x-collapse=""
              x-show="isOpen"
              style="height: 0px; overflow: hidden; display: none;"
              hidden=""
            >
              <p class="text-base text-primary-950/70 dark:text-primary-200/70 text-left">
                We understand the importance of addressing behavioral health needs, and our dedicated team is here to provide compassionate support in the comfort of your home. With a focus on tailored care plans and expert guidance, our skilled professionals offer personalized assistance to manage and improve behavioral health challenges. Whether it's emotional support, behavioral therapy, or coping strategies, we are committed to helping individuals achieve mental wellness and stability. At  HPS, we prioritize your emotional well-being, offering compassionate behavior care services designed to meet your unique needs.
              </p>
            </dd>
          </div>
          <div
            class="rounded-3xl px-4 transition"
            x-bind:class="{ 'bg-primary-500/10 dark:bg-primary-400/10': isOpen }"
            x-data="{ id: 3, get isOpen() { return this.id === this.selected }, get isNextOpen() { return (this.id + 1) === this.selected } }"
          >
            <dt
              class="border-b border-transparent text-lg transition"
              x-bind:class="{ 'border-transparent': isOpen || isNextOpen, 'border-primary-900/10 dark:border-primary-300/10': !(isOpen || isNextOpen) }"
            >
              <button
                class="group block w-full py-6 text-left transition focus-visible:outline-none"
                type="button"
                aria-controls="expertise-4"
                aria-expanded="false"
                x-bind:aria-expanded="isOpen.toString()"
                x-on:click="toggle(id)"
                ><div
                  class="flex items-center justify-between rounded-3xl group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2 group-focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200"
                >
                  <span class="font-medium">Medicare Advantage Plans</span>
                  <span class="ml-6 flex h-7 items-center"
                    ><svg
                      aria-hidden="true"
                      class="h-6 w-6 rotate-0 transform text-primary-600 transition duration-200 ease-in-out dark:text-primary-400"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                      x-bind:class="{ '-rotate-180': isOpen, 'rotate-0': !isOpen }"
                      ><path
                        d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
                      ></path></svg
                    ></span
                  >
                </div></button
              >
            </dt><dd
              class="pb-6 pr-6"
              id="expertise-4"
              x-collapse=""
              x-show="isOpen"
              style="height: 0px; overflow: hidden; display: none;"
              hidden=""
            >
              <p class="text-base text-primary-950/70 dark:text-primary-200/70 text-left">
                A Medicare Advantage (Medicare part C) plan is a type of health plan offered by a private company that contracts with Medicare to provide all Part A and B services while generally including some additional services.<br> At Home Preferred Solution we accept the following plans: Aetna, Simply and Florida Complete Care.<br> Our home health services seamlessly integrate with Medicare Advantage plans, ensuring that eligible individuals can access a comprehensive range of care in the comfort of their homes. Whether you require skilled nursing, therapy services, or assistance with daily activities, our dedicated team of healthcare professionals are here to support your unique needs.
              </p>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</Container>
