---
const { class: className } = Astro.props;
---

<section class="py-16 sm:py-20 bg-primary-100 dark:bg-primary-300/10">
  <div class:list={["mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8", className]} class="">
    <slot />
  </div>
</section>
